/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* home */
.container-home {
    text-align: center;
    padding: 20px;
}

#homeSection {
    max-width: 600px;
    margin: 0 auto;
}

.h2-judul {
    font-size: 2.5em;
    font-weight: bold;
    color: #4c6faf;
    margin-bottom: 10px;
}

.p-keterangan {
    font-size: 1.3em;
    line-height: 1.5;
    color: #666;
}

.illustration {
    margin-top: 10px;
    max-width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}


li {
    margin-left: 10px;
    margin-right: 10px;
}


nav {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #4c6faf;
    padding: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 0 0 5px rgba(0, 175, 241, 0.788)
}


.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: rgba(113, 185, 233, 0.795);
}

h2 {
    color: #4c6faf;
    text-align: center;
}

.calculator-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4c6faf;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgba(113, 185, 233, 0.795);
}

.button-reset {
    background-color: rgb(243, 183, 17); 
    color: #ffffff;
}

.button-reset:hover {
    background-color: #f7ca4f; 
}

p {
    color: #333;
    margin: 10px 0;
}


/* Hasil */
#result {
    font-weight: bold;
    font-size: 18px;
}

#L1, #L2, #L3, #K1, #K2, #K3 {
    font-style: italic;
    color: #888;
}



/* Gambar rumus */
.gambar1 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 30px;
}

.gambar1:hover {
    transform: scale(2.0);
}



@media (max-width: 600px) {
    form {
        max-width: 100%;
    }
}
